
/*çŸ­ä¿¡ç®¡ç†*/
.manage-detail{border-bottom:1px dashed #959595;margin:0 20px;padding: 20px 10px;}
.manage-detail h6{color:#098cba;line-height:26px;}
.manage-detail-con{height:30px;}
.manage-detail-con span{display:block;margin-right:45px;margin-top:7px;}
.manage-detail-con span em{font-style:normal;color:#ea544a;font-weight:bolder;line-height:22px;}
.manage-detail-con .recharge{width:80px;height:30px;background:#ea544a;text-align:center;line-height:30px;color:#fff;display:block;border-radius:3px;}
.manage-detail-con .recharge:hover{background:#ef7f77;}
.manage-detail-con .custom{width:120px;hegiht:30px;background:#0098ce;text-align:center;line-height:30px;color:#fff;display:block;border-radius:3px;}
.manage-detail-con .custom:hover{background:#40b2da;}
.manage-detail-con .title{margin-top: 0;line-height: 26px;}
.manage-detail-con .title em{padding-top: 2px;}
.margin-lr{margin:0 30px !important;}
.manage-record .record-fond{color:#393939;font-weight:600;line-height:26px;height:26px;}
.manage-record .record-fond select{color:#7b7b7b;width:90px;height:24px; cursor: pointer;}
.info-center-title{width:300px;}
.info-center-title a{height:24px;display:block;border-bottom:2px solid #fff;line-height:24px;color:#656565;display:block;font-weight:600; float: left;}
.info-center-title .manage-title{display:block;color:#098cba;height:24px;line-height:24px;font-weight:600;}
{border-bottom:2px solid #098cba;}

/*çŸ­ä¿¡å……å€¼*/
.message-charge{color:#444;margin-top:30px;font-size: 14px;padding-left: 10px;}
.message-charge span{float:left;display: block;text-align: center;}
.charge-pay{width:130px;line-height:40px;border:1px solid #D2D2D2;font-weight: 600;font-size:14px;cursor: pointer;}
.charge-pay:hover{border-color: #ee6256;background-color: #fff2ef;}
.on{border:1px solid #ee6256;background: url(../images/icon_charge.png) no-repeat bottom right;}
.on:hover{background-color: #fff;}
#num{width:60px;text-align:center;border:1px solid #c6c6c6;line-height: 30px;height:32px;color:#000;}
.charge-count-nimus{width:30px;height:32px;border:1px solid #c6c6c6;display: block;background: url(../images/icon_minus.png) no-repeat center center;}
.charge-count-add{cursor: pointer;width:30px;height:32px;border:1px solid #40b2da;display: block;background: url(../images/icon_add2.png) no-repeat center center;}
.charge-count-add:hover{background: url(../images/icon_add1.png) no-repeat center center;background-color: #40b2da;}
.oth-minus{display: block;margin: 0 auto;margin-top: 14px;}
.charge-on{cursor: pointer;border:1px solid #40b2da;background: url(../images/icon_minus2.png) no-repeat center center;}
.charge-on:hover{background: url(../images/icon_minus1.png) no-repeat center center;background-color: #40b2da;border-color:#40b2da}
.charge-blank{color:#000;line-height: 30px;}
.charge-now{display: block;width: 260px;line-height: 40px;background: #40b2da;border-radius:3px;color:#fff;font-weight:600;text-align: center;font-size:14px;margin:0 auto;}
.charge_way li{width: 230px; height: 116px;float: left;}
.charge-now.margin-big-top,.record-content li,.custom-switch{margin-top: 20px;}
#coin{width:85px;}


/*è‡ªå®šä¹‰çŸ­ä¿¡*/
.custom-lists li,.cost-lists li{line-height: 30px;border: 1px solid #e9e9e9;float: left;border-right: 0;}
.custom-lists li:last-child{border: 1px solid #e9e9e9}
.custom-lists .border-right,.cost-lists .border-right{border-right: 1px solid #e9e9e9;}
.custom-lists li a{display: block;color:#515151;padding:0 12px;background: #f4f4f4;cursor: pointer;}
.custom-lists li a:hover{background: #fff;}
.custom-lists .list-tab a,.cost-lists .list-tab a{background:#fff;height:32px;border-top: 1px solid #0098cd;margin-top:-1px;margin-bottom:-1px;}
.custom-detail,.detail-check{border:1px solid #e9e9e9;margin-top: -1px;}
.custom-title{color:#515151;padding: 20px 12px;padding-bottom: 80px;}
.custom-title a{cursor: pointer;}
.custom-title .switch{position:relative;margin-right:15px;margin-top:13px;display: block;width: 55px;height: 15px;background:url(../images/icon_switch.png) no-repeat center center;cursor: pointer;}
.custom-title .control{  display: block;position: absolute;top: 0;left: 20px;width: 20px;height: 15px;background: #E1E1E1;overflow: hidden;}
.custom-title .left{left: 0;}
.custom-title .border-list{border-bottom: 1px solid #E9E9E9;line-height: 40px;}
.custom-title .mes-title{width: 235px; height: 25px; float: left;margin-left: 20px;}
.custom-title .position{background-position: left center;margin-left: 10px;min-width: 30px;}
.custom-main{height: 40px;background: #f8f8f8;border-bottom: 1px solid #E9E9E9;color:#515151;padding:10px 0;padding-left: 12px;}
.custom-main li{cursor: pointer; float: left;margin-right: 10px;line-height: 20px;}
.custom-main a{display: block;color:#fff;padding: 0 10px;border-radius: 3px;background: #0098ce;}
.custom-main a:hover{background: #33add8;}
.custom-main .custom-list a,.custom-main .custom-list:hover a{background: #0098ce;}
.custom-text{height:300px;}
.custom-submit{margin-left: 270px;margin-top:20px;}
.custom-title p.icon-atten{line-height: 32px;}
.custom-title .icon-atten span{font-size: 16px;color:#0000FF;}
.submit{display: block;border-radius: 3px; background: #40B2DA;padding: 0 30px;line-height: 32px;color:#fff;}
.submit:hover{color:#fff;background: #66c1e1;}
.cancel-sub{display: block;border-radius: 3px; background: #e5e5e5;padding: 0 30px;line-height: 32px;color:#6b6b6b;}
.cancel-sub:hover{background:#d6d6d6;color:#636363;}
.custom-area{width: 100%;height: 100%;color:#6b6b6b; padding:10px;border: none;resize: none;}
.pop-custom-head{color:#333;font-weight:600;height:50px;line-height:50px;margin:0 20px;}
/*.pop-custom-head h4{line-height: 50px;}*/
.pop-custom-con{border:1px solid #E9E9E9;}
.lists .list-checked{border-color: #f6aba5;}

/*æ¶ˆæ¯ä¸­å¿ƒè¯¦æƒ…é¡µ*/
.info-detail{padding-bottom: 20px;}
.info-detail a{border:1px solid #cecece;padding:0 10px;margin-top:-5px;line-height:25px;border-radius:3px;display:block;font-size:10px;color:#565656;font-weight:normal;background-color:#f4f4f4;}
.info-detail a:hover{background-color: #F0F0EE;}
.info-detail-content{margin:0 20px;margin-top:30px;}
.info-detail-content h2{color:#40b2da;padding:0 10px; font-weight:600;font-size: 18px;border-bottom:1px solid #bcbcbc;padding-bottom:8px;}
.info-detail-content h2 span{color:#141414;font-size: 12px;margin-top:10px;}
.info-detail-content .p1{text-align:center;font-size:10px;height:40px;line-height:40px;color:#565656;border-bottom:1px solid #bcbcbc;font-weight:600;}
.info-detail-content p{padding:0 10px;color:#565656;text-align:left;font-weight:600;line-height:30px;font-size: 12px;}
.info-detail-content .text-black{color:#141414;}
.manage-head{border-bottom:1px solid #d9dfe4;padding:15px 0;margin:0 20px;}
.manage-head-con{position:relative;height:18px;line-height:18px;color:#363636;border-left:2px solid #0098cd;font-weight:600;font-size:16px;}
.manage-title{display:block;color:#098cba;height:24px;line-height:24px;font-weight:600;font-size: 14px;}
.solid-slider{position:absolute;border-bottom:2px solid #098cba;}